html,  
body{
    text-decoration: none;
    margin:0;
    padding:0;
ul{
    list-style: none;
    li{
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration:none;
        }
    }
}
}
